p{
    background-color: yellow;
    color: red;
}
div {
    background-color: green;
    color: black;
    border: 3px dotted red;
    margin: 10px;
    padding: 20px;
    width: 50%;
    height: 100px;
    box-sizing: border-box;
}
